#calculate {
    padding-top: 2%;
    padding-bottom: 2%;
}

.text-red {
    color: rgb(248, 43, 43);
}

.grade {
    width: 50px;
}

.no-bullets {
    list-style-type: none;
}

.jumbotron {
    background-color: rgb(39, 39, 39);
}
.jumbotron h1 {
    color: white;
    font-size: 50px;
}
.jumbotron h1 small {
    color: white;
}
.jumbotron p {
    color: #D3D3D4;
}
footer {
    padding: 20px;
    background-color: rgb(39, 39, 39);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: #eee;
}

.btn-default {
    color: #fff;
    background-color: rgb(39, 39, 39);
    border-color: #fff;
}
.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #eee;
    background-color: #327ED5;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #327ED5;
    border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #eee;
    background-color: #327ED5;
    border-color: #8c8c8c;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #fff;
}

.navbar-default {
    background-color: #fff;
}
.navbar-brand span, .navbar-brand i, #bs-example-navbar-collapse-1 a {
    color: rgb(39, 39, 39);
    font-weight: bold;
}

.navbar-brand .text-red {
    color: rgb(248, 43, 43);
}

.navbar {
    margin-bottom:0;
}
